html {
  margin: 0px;
}
body {
  margin: 0px;
  font-family: monospace;
  color: #333;
  min-height: 100vh;
  /* -------------------- */
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* -------------------- */

.shd {
  box-shadow: 2px 2px 4px black;
  background-color: rgb(48, 41, 130);
}

.carrossel {
  overflow: hidden;
  height: 450px;
  width: 280px;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}

.btn {
  text-align: center;
  /* background-color: rgb(88, 60, 121); */
  /* background-color: blueviolet; */
  border-radius: 5px 5px 0px 0px;
  /* padding: 10px; */
  color: white;
  /* display: flex; */
  /* background-color: gainsboro; */
  /* z-index: -10; */
}

.btn a {
  display: block;
  color: white;
  background-color: rgb(88, 60, 121);
  border-radius: 5% 5% 0 0;
  border: 5px;
  padding: 5px;
  min-width: auto;
}
/* -------------------- */

body > div:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.03);
}

/* Grid */
.grid {
  display: grid;
}
.grid-template-areas {
  margin: 0px;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 6% 15% auto 10%;
  grid-template-areas:
    "cnt  cnt cnt"
    "head head head"
    "sideA content sideB"
    "footer footer footer";
}

.cnt {
  color: white;
  display: grid;
  grid-area: cnt;
  background-color: rgb(48, 41, 130);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "eml  rsoc";
}
.cnt a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.eml {
  grid-area: eml;
  align-self: center;
  text-align: center;
}

.rsoc {
  grid-area: rsoc;
  align-self: center;
  text-align: center;
}

.head {
  grid-area: head;
  /* position: fixed; */
  position: static;
}
.hdr {
  background-image: url("../img/nexa_logo.png");
  background-size: 300px 100px;
  background-repeat: no-repeat;
  /* background-position: center center; */
}

.sideA {
  grid-area: sideA;
}
.sideB {
  grid-area: sideB;
}

.content {
  grid-area: content;
  min-height: 100vh;
}

.footer {
  grid-area: footer;
}

/* Grid Item */
.item {
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}
